
body{
	background-color: gray;
	background-image: url(download.jpg);
	background-repeat: no-repeat;
	/*background-position: right top;*/
	background-position: right left;
}
p,h1{
	color: navy;
	margin-left: 30px;
	}
	a{
		text-align: center;
	}